h1 {
  text-align: center;
  margin: auto;
  font-size: 48px;
  border-bottom: 3px solid #333;
  width: 300px;
}

.headline {
  font-size: 26px;
  font-style: bold;

}

.head {
  font-size: 50px;
  padding: 25px;
  margin-top: auto;
}

.contact {
  font-size: 20px;
  margin-top: 30px;

}

.center {
  font-size: 25px;
  text-align: left;
  margin: left;
  font-weight: bold;
}
.background{
  background: linear-gradient( #ffa69e, #faf3dd, #b8f2e6, #aed9e0, #5e6472);
}